@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul,
ol {
    list-style-type: none;
}

body {
    font-family: 'Work Sans', sans-serif;
}
html {
    --primaryColor: #F15B22;   
}
img {
    max-width: 100%;
}
.primary_btn {
    background: #FFFFFF;
    padding: 10px 30px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
}
/*=============== header section ============== */
header {
    background-image: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 110vh;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero_content {
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 30px;
    color: #FFFFFF;

}
.hero_content h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}
.hero_content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
}